@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Montserrat Alternates", sans-serif;
    @apply font-semibold;
}

thead {
    @apply border-b-4 border-base-300 bg-base-200/50;
}
.textarea-bordered,
.file-input-bordered,
.select-bordered .text-borderes,
.input-bordered {
    @apply border-2 border-base-300;
}
.table-row-bordered-thick td {
    border-bottom: 2px solid #e5e7eb;
}

.textarea-error,
.file-input-error,
.select-error,
.text-eroor,
.input-error {
    @apply border-2 border-error;
}
.card {
    @apply bg-base-100 border-2 border-base-300;
}
.page-wrapper {
    @apply container w-full max-w-6xl p-6 mx-auto space-y-6;
}
.table-wrapper {
    @apply bg-base-100 border-2 border-base-300 overflow-x-auto rounded-lg whitespace-nowrap;
}
.modal-box {
    @apply scrollbar-hide;
}
.card-divider {
    @apply border-b-2 border-base-300;
}
.stat-value {
    grid-column-start: 1;
    white-space: nowrap;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 800;
}
